<h2>Tasks:</h2>

<h4>1. Install Cypress from <a href="https://docs.cypress.io/guides/getting-started/installing-cypress">here</a>.</h4>
<br />
<h4>2. How to use <a href="https://docs.cypress.io/guides/tooling/typescript-support"> Typescript in Cypress</a>.</h4>
<h5>Cypress runs on JavaScript, but who likes to write in pure JavaScript, we will work on TypeScript</h5>
<br />

<h4>3. Create CRUD tests for Games and Players.</h4>
<h5>READ tests should be done for table and form</h5>
<h5>Additionally validation</h5>

<br />

<h4>4. Make some drag and drop tests</h4>
<h5>Just drag and drop some items to other columns, I want to be sure that after that you can be to know how to do it</h5>
<br />

<h4>5. QR code test</h4>
<h5>Check that the QR code has been correctly generated for each player</h5>
<br />

<h2>I want whitebox tests :)</h2>
<h5>I am not interested in the number of tests but in the quality of the system that will support the tests, its construction, readability and adaptability to changes in the application</h5>